
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div ng-include="'partials/user.html'"></div>
    </nav>
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Cabeçalho da página -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">
                        Visão Geral <small>Overview</small>
                    </h2>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">

                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Repositórios Públicos</h3>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                            	<div ng-include="'partials/repo-list.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
