@CHARSET "UTF-8";

.bg-orange{ 
    background-color: #e67e22 !important;
}
    
.bg-blue{ 
    background-color: #3498db !important;  
}

.app {
    background: white;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100%;
    min-width: 550px;
    position: relative;
}

/*.home-page {
	height: 651px;
	outline: none;
	overflow: hidden;
	position: relative;
	color: red;
	width: 1430px;
}*/