<div ng-controller="RepoListCtrl">

    <!-- Table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Descricao description</th>
                <th>Fork</th>
                <th>Data de Criacao</th>
                <th>Watchers</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="repo in repos.data | orderBy:'-watchers'" class="repo">
                <td><span ng-bind="1"></span></td>
                <td><span ng-bind="repo.name"><a href="#/github/{{repo.full_name}}/"></a></span></td>
                <td><span ng-bind="repo.description"></span></td>
                <td><span ng-bind="repo.fork">
                    <ng-pluralize count="repo.forks" when="forkForms"></ng-pluralize>
                </span></td>
                <td><span ng-bind="repo.created_at"></span></td>
                <td><span ng-bind="repo.watchers">
                    <ng-pluralize count="repo.watchers" when="watchForms"></ng-pluralize>
                </span></td>
                <td><span ng-bind=""></span></td>
            </tr>
        </tbody>
    </table>

</div>




 <!--    <ul class="repos">
        <li ng-repeat="repo in repos.data | orderBy:'-watchers'" class="repo yui3-g"> -->

   <!--          <a href="#" class="list-group-item">
                <span class="badge">4 minutes ago</span>
                <i class="fa fa-fw fa-comment"></i> Commented on a post
            </a> -->


<!--             <div class="repo-name">
                <h3>
                    <a href="#/github/{{repo.full_name}}/">{{repo.name}}</a>
                </h3>
                <p class="repo-desc">{{repo.description}}</p>
            </div>
            <div class="repo-stats">
                <ul class="yui3-g">
                    <li class="repo-lang">
                        <b>{{repo.language}}</b>
                    </li>
                    <li class="repo-watchers">
                        <b>{{repo.watchers}}</b>
                        <span>
                            <ng-pluralize count="repo.watchers" when="watchForms">
                            </ng-pluralize>
                        </span>
                    </li>
                    <li class="repo-forks">
                        <b>{{repo.forks}}</b>
                        <span>
                            <ng-pluralize count="repo.forks" when="forkForms">
                            </ng-pluralize>
                        </span>
                    </li>
                </ul>
            </div>
        </li>
    </ul> -->

