<div ng-controller="RepoListCtrl">

    <!-- Table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Descricao description</th>
                <th>Fork</th>
                <th>Data de Criacao</th>
                <th>Watchers</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="repo in repos.data | orderBy:'-watchers'" class="repo">
                <td><span ng-bind="1"></span></td>
                <td><span ng-bind="repo.name"><a href="#/github/{{repo.full_name}}/"></a></span></td>
                <td><span ng-bind="repo.description"></span></td>
                <td><span ng-bind="repo.fork">
                    <ng-pluralize count="repo.forks" when="forkForms"></ng-pluralize>
                </span></td>
                <td><span ng-bind="repo.created_at"></span></td>
                <td><span ng-bind="repo.watchers">
                    <ng-pluralize count="repo.watchers" when="watchForms"></ng-pluralize>
                </span></td>
                <td><span ng-bind=""></span></td>
            </tr>
        </tbody>
    </table>
</div>