<div ng-controller="UserCtrl">
    <!-- Itens da barra de navegacao superior -->
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html"> GitHub</a>
    </div>

    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="{{user_info.data.html_url}}">Visão no GitHub</a>
        </li>
    </ul>
    <!-- navbar superior-->

    <!-- Itens do menu da barra lateral -->
    <div class="navbar-collapse">
        <ul class="nav navbar-nav side-nav">
            <div class="info col-md-12">
                  <img src="{{user_info.data.avatar_url}}" alt="{{user_info.data.login}}'s avatar">
                  
                  <div class="caption">
                    <span class="user-name" ng-show="user_info.data.name" >
                        <h3>{{user_info.data.name}}</h3>
                    </span>
                    <span class="user-login">
                        <h4>({{user_info.data.login}})</h4>
                    </span>
                    <span class="user-bio" ng-show="user_info.data.bio">
                        <p>
                            <h5>{{user_info.data.bio}}<h5>
                        </p>
                    </span>
                  </div>

            </div>
            <div class="stats col-md-12">
                <ul class="">
                    <li class="user-repos">
                        <b>{{user_info.data.public_repos}}</b>
                        <ng-pluralize count="user_info.data.public_repos" when="publicRepoForms">
                        </ng-pluralize>
                    </li>
                    <li class="user-followers">
                        <b>{{user_info.data.followers}}</b>
                        <ng-pluralize count="user_info.data.followers" when="followerForms">
                        </ng-pluralize>
                    </li>
                </ul>
            </div>    
        </ul>
    </div>
    <!-- /.navbar-collapse -->

</div>
